# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables and secrets
.env
.venv
env/
venv/
ENV/

# Shared environment (referenced but not included in repo)
/shared_Environment/

# Logs and databases
*.log
logs/
data/chroma_db/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
